@import url('./styles.css');

.container {
    justify-content: flex-start;
}

.content p {
    font-size: 1.2em;
}

/* Responsividade */
@media (max-width: 768px) {
    .content p {
        font-size: 1em;
    }
}
