@import url('./styles.css');

/* Estilos específicos para a página de sinopse */
.container {
    justify-content: flex-start;
}

img {
    width: 300px;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    img {
        width: 200px;
        margin-top: 10px;
    }
}

